include ../mixin.jade

section#benchmark.SectionBenchmark
  .container-cell
    .row
      .SectionBenchmark-title
        h2
          | Benchmark
        .SectionBenchmark-github-proyect
          +link('https://github.com/Moove-it/angus-benchmark', 'View angus-benchmark on GitHub')(target='_blank')
      .SectionBenchmark-ruby
        .SectionBenchmark-ruby-title
          | Ruby
        .SectionBenchmark-ruby-svg-container
      .SectionBenchmark-reference
        .reference-list
          .angus
            .line
            .text
              | Angus
          .grape
            .line
            .text
              | Grape
          .sinatra
            .line
            .text
              | Sinatra
          .rails-api
            .line
            .text
              | Rails Api

      .SectionBenchmark-jruby
        .SectionBenchmark-jruby-title
          | JRuby
        .SectionBenchmark-jruby-svg-container
      .SectionBenchmark-descripcion
        | We made this charts using Apache Benchmark. We created one project per framework
        | (Grape, Rails API, Sinatra and Angus) that provides a simple service 'get users'
        | which return a list of users in JSON format with the default and basic configuration.
        | In the Ruby environment we use Unicorn with defult configuration. With jRuby we use Mizuno.
        | The test consisted of 1000 requests executed with a concurrency level of 100.




