section#brand.SectionBrand
  .container-cell
    .row
      .SectionBrand-moto
        | A web services framework
      .SectionBrand-rubies
        .SectionBrand-rubies-layer.SectionBrand-rubies__1(class="parallax", data-velocity=".5")
        .SectionBrand-rubies-layer.SectionBrand-rubies__2(class="parallax", data-velocity=".4")
        .SectionBrand-rubies-layer.SectionBrand-rubies__3(class="parallax", data-velocity=".3")
        .SectionBrand-rubies-layer.SectionBrand-rubies__4(class="parallax", data-velocity=".2")
      img.SectionBrand-guitar.animated.bounce(src='/images/angus_guitar.svg')
      img.SectionBrand-logo.animated.bounceInDown(src='images/angus_logo2.svg')
      img.SectionBrand-thunder.animated.bounceIn(src='images/thunder.svg')

    +link ("#benchmark", "benchmark")(class='SectionBrand-scroll')
      i.fa.fa-chevron-down