section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Angus
          .SectionWay-description-paragraph
            p.SectionWay-description-paragraph-text
              | Angus is a REST-like API framework which fits
              | perfectly with Ruby.
            p.SectionWay-description-paragraph-text
              | It is based on rack, so it can be used to
              | complement an existing app or as standalone
              | service to easily develop RESTful APIs.
            p.SectionWay-description-paragraph-text
              | It is a lightweight framework, with special
              | focus on simplicity.
            p.SectionWay-description-paragraph-text
              | Angus is an excellent option for creating
              | REST-like APIs

      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')